<h1 class= "padding_top" >Editing Comment</h1>

<%= render 'form', comment: @comment %>

<%= link_to 'Show', @comment, class: "button-secondary" %>
<%= link_to 'Back', comments_path, class: "button-secondary" %>

